<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <title>Adopt a Cat!</title>
  </head>
  <body>
    <table style="width:{{table_width}}" align="center" border="1">
        <tr align="center">
            {% for cat in cats_list %}
                <td style="width:{{col_width}}">
                    <b>{{ cat.Name }}</b>
                    <br>
                    <img src="{{ image_location }}{{ cat.Image }}" alt="{{ cat.Name }}" height="200" width="200">
                    <br>
                    <a href="{{ cat.Url }}">Click here!</a>
                </td>
            {% endfor %}
        </tr>
    </table>
  </body>
</html>