<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <title>Adopt a Cat!</title>
  </head>
  <body>
  <h1 align="center">Welcome to our Adoption Centre!</h1>
    <table align="center" border="1">
        <tr align="center">
            {% for cat in cats_list %}
                <td bgcolor="{{ cat.colour_info[1] }}">
                    <b>{{ cat.Name }}</b>
                    <br>
                    <hr>
                    <a href="{{ cat.Url }}">
                        <img src="{{ image_location }}{{ cat.Icon }}" alt="{{ cat.Name }}" height="250" width="250">
                        <br>
                        Click here!
                    </a>
                </td>
            {% endfor %}
        </tr>
    </table>
  </body>
</html>