<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <title>Adopt a Cat!</title>
  </head>
  <body>
    <table align="center" border="1">
        <tr align="center">
            {% for cat in cats_list %}
                <td>
                    <b>{{ cat.Name }}</b>
                    <br>
                    <img src="{{ image_location }}{{ cat.Icon }}" alt="{{ cat.Name }}" height="250" width="250">
                    <br>
                    <a href="{{ cat.Url }}">Click here!</a>
                </td>
            {% endfor %}
        </tr>
    </table>
  </body>
</html>